
# Docker volumes
ny_tripdata_database/
pgadmin/

# Screenshots and ingestion artifacts
screenshots/
data/ingestion/
*.txt
.ipynb_checkpoints/

# Keep folder structure
!screenshots/.keep
!ny_taxi_database/.keep

# Ignore scripts folder
scripts/
!scripts/.keep

